In [450]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [451]:
import app

In [452]:
bank = app.Bank('DKB')

In [453]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {}
Transactions: []

In [454]:
account_1 = app.Account(number=1,firstname='Peter',lastname='Vollrath')
bank.open_account(account_1)

In [455]:
print(account_1.number, account_1.firstname, account_1.lastname)

1 Peter Vollrath

In [456]:
print(f'Accounts: {bank.accounts}')

Accounts: {1: <app.account.Account object at 0x1086ae2b0>}

In [457]:
account_2 = app.Account(number=2,firstname='Peter',lastname='Vollrath')
bank.open_account(account_2)

In [458]:
print(account_2.number, account_2.firstname, account_2.lastname, account_2.balance)

2 Peter Vollrath 0.0

In [459]:
print(f'Accounts: {bank.accounts}')

Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>}

In [460]:
account_3 = app.Account(number=3,firstname='Peter',lastname='Vollrath')
bank.open_account(account_3)

In [461]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}
Transactions: []

In [462]:
account_1.info()

'Number 1: Peter Vollrath - 0.0 €'

In [463]:
print(f'Accounts: {bank.accounts}')

Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}

In [464]:
account_2.info()

'Number 2: Peter Vollrath - 0.0 €'

In [465]:
account_3.add_to_balance(50)

In [466]:
account_3.info()

'Number 3: Peter Vollrath - 50.0 €'

In [467]:
account_1.add_to_balance(10000000)

In [468]:
account_3.info()

'Number 3: Peter Vollrath - 50.0 €'

In [469]:
transaction_1 = bank.add_transaction(sender=account_1, recipient=account_2, subject='Haus', amount=200000.0, category='Immobilie')

In [470]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}
Transactions: [<app.transaction.Transaction object at 0x1086ae828>]

In [471]:
transaction_2 = bank.add_transaction(sender=account_1, recipient=account_2, subject='Grundsteuer', amount=1020.0, category='Immobilie')

In [472]:
transaction_3 = bank.add_transaction(sender=account_1, recipient=account_2, subject='Notargebühr', amount=9000.0, category='Immobilie')

In [473]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}
Transactions: [<app.transaction.Transaction object at 0x1086ae828>, <app.transaction.Transaction object at 0x1086ae438>, <app.transaction.Transaction object at 0x1086ae278>]

In [518]:
transaction_4 = bank.add_transaction(sender=account_2, recipient=account_1, subject='Restaurantbesuch', amount=90.0, category='Freizeit')

In [519]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}
Transactions: [<app.transaction.Transaction object at 0x1086ae828>, <app.transaction.Transaction object at 0x1086ae438>, <app.transaction.Transaction object at 0x1086ae278>, <app.transaction.Transaction object at 0x1086c19e8>]

In [520]:
transaction_2.info()

'Transaction-ID: 38d0f2d8-7ea9-41bf-8673-4ad4f729d2a0. Timestamp: 1549623801.580798. Time: 2019-02-08 12:03:21. From 1 to 2: Grundsteuer (category: Immobilie) - 1020.0 €'

In [521]:
account_2.info()

'Number 2: Peter Vollrath - 209930.0 €'

In [522]:
transaction_1.info()

'Transaction-ID: 1ed4c7ee-e0dc-4b46-a4ee-7450769c3ec0. Timestamp: 1549623801.412361. Time: 2019-02-08 12:03:21. From 1 to 2: Haus (category: Immobilie) - 200000.0 €'

In [523]:
transaction_1.info()

'Transaction-ID: 1ed4c7ee-e0dc-4b46-a4ee-7450769c3ec0. Timestamp: 1549623801.412361. Time: 2019-02-08 12:03:21. From 1 to 2: Haus (category: Immobilie) - 200000.0 €'

In [524]:
transaction_2.info()

'Transaction-ID: 38d0f2d8-7ea9-41bf-8673-4ad4f729d2a0. Timestamp: 1549623801.580798. Time: 2019-02-08 12:03:21. From 1 to 2: Grundsteuer (category: Immobilie) - 1020.0 €'

In [525]:
transaction_3.info()

'Transaction-ID: 94465dd1-8f9f-4e5f-96db-14eedaafc72d. Timestamp: 1549623801.664292. Time: 2019-02-08 12:03:21. From 1 to 2: Notargebühr (category: Immobilie) - 9000.0 €'

In [526]:
transaction_3.info()

'Transaction-ID: 94465dd1-8f9f-4e5f-96db-14eedaafc72d. Timestamp: 1549623801.664292. Time: 2019-02-08 12:03:21. From 1 to 2: Notargebühr (category: Immobilie) - 9000.0 €'

In [527]:
transaction_3.info()

'Transaction-ID: 94465dd1-8f9f-4e5f-96db-14eedaafc72d. Timestamp: 1549623801.664292. Time: 2019-02-08 12:03:21. From 1 to 2: Notargebühr (category: Immobilie) - 9000.0 €'

In [528]:
print(transaction_1.info())
print(transaction_2.info())
print(transaction_3.info())

Transaction-ID: 1ed4c7ee-e0dc-4b46-a4ee-7450769c3ec0. Timestamp: 1549623801.412361. Time: 2019-02-08 12:03:21. From 1 to 2: Haus (category: Immobilie) - 200000.0 €
Transaction-ID: 38d0f2d8-7ea9-41bf-8673-4ad4f729d2a0. Timestamp: 1549623801.580798. Time: 2019-02-08 12:03:21. From 1 to 2: Grundsteuer (category: Immobilie) - 1020.0 €
Transaction-ID: 94465dd1-8f9f-4e5f-96db-14eedaafc72d. Timestamp: 1549623801.664292. Time: 2019-02-08 12:03:21. From 1 to 2: Notargebühr (category: Immobilie) - 9000.0 €

In [529]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {1: <app.account.Account object at 0x1086ae2b0>, 2: <app.account.Account object at 0x1086ae358>, 3: <app.account.Account object at 0x1086ae4a8>}
Transactions: [<app.transaction.Transaction object at 0x1086ae828>, <app.transaction.Transaction object at 0x1086ae438>, <app.transaction.Transaction object at 0x1086ae278>, <app.transaction.Transaction object at 0x1086c19e8>]

In [555]:
print(f'Bank: {bank.name}')
print("\n")
print(f'Account holder: {account_1.firstname} {account_1.lastname}')
print("\n")
print('All transactions')
for t in bank.transactions:
    print(t.info())
print("\n")
print(f'Account balance: {account_1.balance} €')

Bank: DKB


Account holder: Peter Vollrath


All transactions
Transaction-ID: 1ed4c7ee-e0dc-4b46-a4ee-7450769c3ec0. Timestamp: 1549623801.412361. Time: 2019-02-08 12:03:21. From 1 to 2: Haus (category: Immobilie) - 200000.0 €
Transaction-ID: 38d0f2d8-7ea9-41bf-8673-4ad4f729d2a0. Timestamp: 1549623801.580798. Time: 2019-02-08 12:03:21. From 1 to 2: Grundsteuer (category: Immobilie) - 1020.0 €
Transaction-ID: 94465dd1-8f9f-4e5f-96db-14eedaafc72d. Timestamp: 1549623801.664292. Time: 2019-02-08 12:03:21. From 1 to 2: Notargebühr (category: Immobilie) - 9000.0 €
Transaction-ID: db5391bd-2853-4f71-b119-ae3d2a993c60. Timestamp: 1549624641.404129. Time: 2019-02-08 12:17:21. From 2 to 1: Restaurantbesuch (category: Freizeit) - 90.0 €


Account balance: 9790070.0 €

In [531]:
print(f'Transactions: {bank.transactions}')

Transactions: [<app.transaction.Transaction object at 0x1086ae828>, <app.transaction.Transaction object at 0x1086ae438>, <app.transaction.Transaction object at 0x1086ae278>, <app.transaction.Transaction object at 0x1086c19e8>]

In [532]:
print(bank.transactions)

[<app.transaction.Transaction object at 0x1086ae828>, <app.transaction.Transaction object at 0x1086ae438>, <app.transaction.Transaction object at 0x1086ae278>, <app.transaction.Transaction object at 0x1086c19e8>]

In [542]:
bank.transactions[1].info()

'Transaction-ID: 38d0f2d8-7ea9-41bf-8673-4ad4f729d2a0. Timestamp: 1549623801.580798. Time: 2019-02-08 12:03:21. From 1 to 2: Grundsteuer (category: Immobilie) - 1020.0 €'

In [551]:
bank.transactions[0].info()

'Transaction-ID: 1ed4c7ee-e0dc-4b46-a4ee-7450769c3ec0. Timestamp: 1549623801.412361. Time: 2019-02-08 12:03:21. From 1 to 2: Haus (category: Immobilie) - 200000.0 €'

In [565]:
bank.

AttributeError: 'Bank' object has no attribute 'statement'